body{
    background-color:lightsteelblue;
    text-align: center;
    border: 3px solid white;
    margin: 5px;
}

p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font
}